.slider{
  --rowWidth: 512px;
  --barSize: 10px;
  --barPosition: 0;
  position: relative;

  height: var(--barSize);
  display: flex;
  align-items: center;

  width: 600px;

  &__row{
    background:
    linear-gradient(to right,
      skyblue calc( var(--barPosition, 0) * 1% ),
      blue calc( var(--barPosition, 0) * 1% ),
      blue 66%,
      skyblue 66%);
    height: 5px;
    width: 100%;
    border-radius: 50vh;
  }
  &__scale{
    height: 20px;
    width: 100%;
    background-color: grey;
  }
  &__bar{
    height: var(--barSize);
    width: var(--barSize);
    left: calc( var(--barPosition)*1% - var(--barSize)/2 );
    border: 2px wheat solid;
    border-radius: 50vh;

    background-color: darkorchid;

    position: absolute;
  }
}
