mixin def(options = {}, items = [])
  -
    items = items.concat(options.items)
    delete options.items
    const mod = ((mod = '') => new Set( mod.trim().split(/[,\s]\s*/) ))(options.mod)
    delete options.mod
    // if (mod.includes('dropable'))
    const text = options.text ? `${options.text}` : ''
    delete options.text

    // generate classes
    if (options.class)
      options.class += ' def def__js'
    else
      options.class = 'def def__js'
    if (mod.length)
      options.class += ` def-${mod.join(` def-`)}`

  div()&attributes(options)&attributes(attributes)
    +foo({ class: 'def__item' })
