extends /../layouts/base.pug
append mixins
  include ./imports.pug
block title
  title='Slider demo'
append main
  .index
    .index__list_demo
    .index__control
    template.index__template
      .demo_block
        .controls
        .slider
