extends /../layouts/base.pug
append mixins
  include ./imports.pug
block title
  title='Slider demo'
append main
  .index.index__js
    .index__list_demo
    .index__control
      - const text = 'add new slider'
      button(type="button").index__button.index__button--add_template=text
    template.index__template
      .demo_block
        .demo_block__item.controls
        .demo_block__item.slider

