:root{
  background-color: black;
  color: green;
}
.index{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &__list_demo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__control{
    display: flex;
    justify-content: space-evenly;
  }
}
