mixin index(options = {}, items = [])
  -
    const items = (options.items || []).concat(items);
    delete options.items;

    options.class = `index `.concat(options.class || '');
    const mod = ((mod = '')=> new Set( mod.trim().split(/[,\s]\s*/) ))(options.mod)
    delete options.mod;
    // if (mod.includes('dropable'))
    const text = options.text ? `${options.text}` : 'add new slider';
    delete options.text;
    const title = options.title ? `${options.title}` : '';
    delete options.title;

    options.class += mod.length ? ` index-${mod.join(` index-`)} ` : '';

  .index.index__js()&attributes(options)&attributes(attributes)
    .index__list_demo
    .index__control
      button(type="button").index__button.index__button--add_template=text
    template.index__template
      //- +demo_block()

